@model Wangkanai.Detection.Services.IDetectionService

<div class="narrow-container">
    <h3>Last connections</h3>
    <hr class="high"/>

    <div class="container-fluid">
        <ul>
            <li>@Model.Device.Type</li>
            <li>@Model.Browser.Name</li>
            <li>@Model.Platform.Name</li>
            <li>@Model.Engine.Name</li>
        </ul>
    </div>
</div>