@model RegisterViewModel

<div class="narrow-container">
    
<h2>Registration</h2>

    <div>
        @if (!string.IsNullOrEmpty((string)ViewData["Error"]))
        {
            <div class="alert-danger alert w-100">
                @ViewData["Error"]
            </div>
        }
        <div class="container-fluid centered-form">
            <h3>Create a new account.</h3>
            <hr/>
            <form method="post">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control"/>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control"/>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MasterPassword"></label>
                    <input asp-for="MasterPassword" class="form-control"/>
                    <span asp-validation-for="MasterPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmMasterPassword"></label>
                    <input asp-for="ConfirmMasterPassword" class="form-control"/>
                    <span asp-validation-for="ConfirmMasterPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}