<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-controller="Register" asp-action="Index">Register</a>
    </li>
    @*<li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-controller="Login">Login</a>
    </li>*@
</ul>