@using System.Security.Claims
@using UI.Utils
<ul class="navbar-nav">
    
    @if (User.Identity is null || !User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-controller="Register" asp-action="Index">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-controller="Login" asp-action="Index">Login</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark">Hello @(((ClaimsIdentity)User.Identity).GetCurrentUserName())!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-controller="Login" asp-action="Logout">Logout</a>
        </li>  
    }
</ul>