form, label, input, span, h4, h3, h2, a, p {
    text-align: center;
}

div.centered-form {
    width: 360px;
    text-align: center;
}

div.alert-danger {
    text-align: center;
}

#loginButton, #createButton, #showCreatedPasswordBtn {
    margin: 5px;
}

footer {
    text-align: center;
}

/*Secrets page*/

#backToSecrets {
    text-align: center;
}

#createSecret {
    text-align: center;
    margin-bottom: 20px;
}

.secrets-label {
    font-weight: bold;
    width: 100%;
}

.password-input {
    width: 280px;
}

hr.high {
    margin-bottom: 5rem;
}

div.narrow-container {
    max-width: 720px;
    margin: auto;
    word-wrap: break-word;
    overflow: hidden;
}

div.hidden {
    visibility: hidden;
}