<div class="narrow-container">
    <h3>Email send</h3>
    <hr/>

    <p>Normally an email would be sent to the provided email address.</p>
    <p>To reset your password, click the link below</p>

    <p>
        <a href="">@ViewData["Token"]</a>
    </p>
</div>
