<div class="narrow-container">
    <h3>Email sent</h3>
    <hr/>
    
    <p>Please check your email to reset your password.</p>
    <p>Normally an email would be sent to the provided email address.</p>

    <p>
        <a href="@ViewData["Url"]">Click here to reset your password</a>
    </p>
</div>
