
<div class="narrow-container">
    <h3>Successful password reset</h3>
    <p>
        Your password has been reset. Please <a asp-controller="Login" asp-action="Index">click here to log in</a>.
    </p>
</div>