@model UI.Models.CreateSecretViewModel

<h3>Create a secret</h3>

<hr />
<div>
    @if (Model is not null && !string.IsNullOrEmpty(Model.Error))
    {
        <div class="alert-danger alert w-100">
            @Model.Error
        </div>
    }
    <div class="container-fluid centered-form">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ServiceName"></label>
                <input asp-for="ServiceName" class="form-control"/>
                <span asp-validation-for="ServiceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" id="createdPassword"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Create" class="btn btn-success" id="createButton"/>
            </div>
        </form>
        <button class="btn btn-info" id="showCreatedPasswordBtn" onclick="showPasswordWhenCreating()">Show password</button>
    </div>
</div>

<div id="backToSecrets">
    <a asp-action="Index">Back to your secrets</a>
</div>